$media-size-mobile: 550px;
$media-size-ipad: 900px;
$media-size-laptop: 901px;
$paralax-number-border-ipad: 5px;
$paralax-number-border-ipad-negative: -5px;
$paralax-number-border-mobile: 2px;
$paralax-number-border-mobile-negative: -2px;